.controls {
  grid-area: b;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.control-button {
  width: calc(var(--tile-size) * 4);
  text-align: center;
  display: block;
  border-width: 3px;
  background-color: #ffb800;
  color: #000000;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

i {
  font-size: 3rem;
}
