.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-board-button {
  text-transform: uppercase;
  font-weight: bold;
  width: 6em;
  height: 6em;
  background-color: var(--color-6);
  margin: 10px;
}

.restart {
  background-color: var(--color-7);
  color: #fff;
}

p {
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.5rem;
}

#score {
  font-size: 3rem;
  font-weight: bold;
  align-items: center;
}
